<h1>Hi, <%=@user.username%>!</h1>
<h1>Here ya go, a list of all available products</h1>
<% @products.each do |product| %>
<br><%= product.name %>
<% end %>

<h1>List of all Categories</h1>
<br><a href="coffee_index">Coffee</a>
<br><a href="tea_index">Tea</a>
<br>Click <a href="/logout">here</a> to log out.