<!DOCTYPE HTML>
<html>
  <head>
    <title>Catalina Wine Mixer</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
 
    <div class="container">
    <img width= "300" src = "http://3.bp.blogspot.com/-PKXpwwUuv1U/VW8Um-c28DI/AAAAAAAADGk/jLwG6CaOehM/s1600/teainthewoods.jpg">
      <h1>Buy some Covfefe</h1>
        <%= yield %>
 
    </div>

  </body>
</html>